<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="LightBDD.Core" version="3.5.0" targetFramework="net472" />
  <package id="LightBDD.Framework" version="3.5.0" targetFramework="net472" />
  <package id="LightBDD.NUnit3" version="3.5.0" targetFramework="net472" />
  <package id="Microsoft.CodeCoverage" version="17.3.0" targetFramework="net472" />
  <package id="Microsoft.NET.Test.Sdk" version="17.3.0" targetFramework="net472" />
  <package id="NUnit" version="3.13.3" targetFramework="net472" />
  <package id="NUnit3TestAdapter" version="4.2.1" targetFramework="net472" />
  <package id="Selenium.WebDriver" version="4.4.0" targetFramework="net472" />
</packages>